:root {
    /* Colours */
    --black: #111111;
    --white: #FFFFFF;
    --yellow: #F4D04E;
    --grey: #7F7F7F;
    /* Fonts */
    --main-font: 'Figtree-VariableFont_wght.ttf',
                 'Figtree-SemiBold.ttf',
                 sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: var(--white);
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    max-width: 384px;
    border-radius: 1.25em;
    border: solid 1px var(--black);
    box-shadow: 8px 8px 0 var(--black);
}

.card-img {
    border-radius: 0.625em;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}