:root {
    /* Colours */
    --black: #111111;
    --white: #FFFFFF;
    --yellow: #F4D04E;
    --grey: #7F7F7F;
    /* Fonts */
    --main-font: 'Figtree-VariableFont_wght.ttf',
                 'Figtree-SemiBold.ttf',
                 sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: var(--yellow);
}